body {
    background-image: url(vvback.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}
#vvlogo {
    height: 140px;
    margin: 0 auto;
    display: block;
}
.logo {
    margin: 0 auto;
    background: radial-gradient(circle, rgba(146,255,226,1) 0%, rgba(8,157,0,1) 100%);
    display: block;
    width: 600px;
    border: 5px solid rgb(15, 146, 102);
    border-radius: 300px;
    box-shadow: 3px 3px 3px #2b4e18;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}
.backlogo {
    width: 100%;
    height: 180px;
    background: linear-gradient(48deg, rgba(0,51,21,1) 0%, rgba(0,131,1,1) 50%, rgba(0,36,20,1) 100%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #46d866;
    box-shadow: inset 0px 0px 3px 3px #7fff3b;
    transition-duration: 0.3s;
    z-index: 1;
}
.backlogo:hover {
    border-bottom: 3px solid #38aa50;
}
.borda {
    height: 180px;
    width: 400px;
    background-color: #18525a;
    clip-path: polygon(90% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    position: absolute;
    left: 0px;
    box-shadow: inset 0px 0px 3px 3px #0e3236;
    border: 3px solid #0e3236;
}
.borda2 {
    height: 180px;
    width: 400px;
    background-color: #18525a;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    transform: rotate(0deg);
    position: absolute;
    right: 0px;
    border: 3px solid #0e3236;
}
.btn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #000;
    background-color: #34f39a;
    border: 3px solid #002657;
    border-radius: 300px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding: 5px;
    }
.btn img {
    height: 40px;
    display: block;
}
  .btn:hover {
    background-color: #90ff50;
      box-shadow: 0px 15px 15px rgba(9, 161, 111, 0.73);
    color: #2b8894;
    transform: translateY(-2px);
  }
  .btn:active {
      transform: translateY(2px);
      transition-duration: 0s;
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .btns {
    display: flex;
    position: absolute;
    right: 0px;
    align-items: center;
    background-color: #18525a;
    height: 100%;
    padding-left: 220px;
    padding-right: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.fundotxt {
    width: 100%;
    height: 700px;
    background-color: rgba(0, 90, 0, 0.3);
    box-shadow: inset 0px 0px 5px 5px #2b4e18;
    padding-bottom: 40px;
    padding-top: 40px;
}
.txt {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(12, 70, 12, 0.6);
    box-shadow: 0px 0px 3px 3px #14270a;
    border: 3px solid rgba(0, 45, 0, 0.6);
    transition-duration: 0.3s;
    border-radius: 100px;
}
.txt:hover {
    box-shadow: 0px 0px 5px 5px #14270a;
}
.txt h1 {
    color: #ffffff;
    width: 75%;
    font-size: 45px;
    text-shadow: 3px 3px 3px #000;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(0, 100, 0, 0.2);
}
.imgs {
    margin: 0 auto;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
#img1 {
    border: 3px solid #192e0e;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #6fb68a;
    transition-duration: 0.3s;
    cursor: pointer;
}
#img2 {
    border: 3px solid #192e0e;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #6fb68a;
    transition-duration: 0.3s;
    cursor: pointer;
}
#img1:hover {
    box-shadow: 0px 0px 5px 5px #6fb68a;
}
#img2:hover {
    box-shadow: 0px 0px 5px 5px #6fb68a;
}
.pbcont {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    background: linear-gradient(48deg, rgba(5,61,6,1) 0%, rgba(165,255,179,1) 60%, rgba(0,124,25,1) 100%);;
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 5px solid #22c22f;
    text-align: center;
    box-shadow: inset 0px 0px 5px 5px #70d839;
    transition-duration: 0.3s;
}
.pbcont:hover {
    box-shadow: inset 0px 0px 5px 8px #70d839;
}
.problemas {
    height: 600px;
    background: linear-gradient(90deg, rgba(33,158,32,1) 0%, rgba(82,138,255,1) 50%, rgba(87,156,36,1) 100%);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 1400px;
    border: 5px solid #1fe41f;
    border-radius: 60px;
    box-shadow: 3px 3px 3px #2b4e18;
    transition-duration: 0.3s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.titpbl {
    margin: 0 auto;
    display: block;
    color: #55ff7f;
    background: linear-gradient(48deg, rgba(44,78,44,1) 0%, rgba(111,184,122,1) 60%, rgba(59,115,70,1) 100%);
    width: 850px;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 3px solid #1fe41f;
    box-shadow: 3px 3px 3px #2b4e18;
}
.titpbl h1 {
    margin: 0;
    text-shadow: 3px 3px 5px #192e0e;
}
html {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 225, 52);
    font-family: 'AR One Sans', sans-serif;
}
#pb1 {
    display: block;
    height: 300px;
    width: 700px;
    margin: 0;
    background: rgba(0, 200, 0, 0.4);
    border-right: 1px solid #1fe41f;
    border-bottom: 1px solid #1fe41f;
    border-top-left-radius: 60px;
    transition-duration: 0.3s;
}
#pb1:hover {
    background: rgba(0, 200, 0, 0.5);
}
#pb1 img {
    display: block;
    height: 120px;
    border: 1px solid #1e7c33;
    border-radius: 150px;
    background-color: #18525a;
    padding: 30px;
    margin: 0 auto;
    transition-duration: 0.3s;
    z-index: 4;
}
#pb1 a {
    text-decoration: none;
    color: #1fe41f;
    text-shadow: 3px 3px 3px #18525a;
    padding: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#pb1 h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    transition-duration: 0.3s;
}
#pb1 a:hover img{
    transform: translateY(-4px);
    border: 1px solid #3ba752;
    background-color: #1b5c63;
}
#pb1 a:hover h1{
    color: #40f792;
}
#pb2 {
    display: block;
    height: 300px;
    width: 700px;
    margin: 0;
    background: rgba(29, 69, 145, 0.4);
    border-left: 1px solid #1fe41f;
    border-bottom: 1px solid #1fe41f;
    border-top-right-radius: 60px;
    transition-duration: 0.3s;
}
#pb2:hover {
    background: rgba(29, 69, 145, 0.5);
}
#pb2 img {
    display: block;
    height: 120px;
    border: 1px solid #4819f1;
    border-radius: 150px;
    background: linear-gradient(56deg, rgba(30,255,215,1) 0%, rgba(82,138,255,1) 50%, rgba(61,60,166,1) 100%);
    padding: 30px;
    margin: 0 auto;
    transition-duration: 0.3s;
    z-index: 4;
}
#pb2 a {
    text-decoration: none;
    color: #5297ff;
    text-shadow: 3px 3px 3px #182d5a;
    padding: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#pb2 h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    transition-duration: 0.3s;
}
#pb2 a:hover img{
    transform: translateY(-4px);
    border: 1px solid #0127ff;
}
#pb2 a:hover h1{
    color: #52f3ff;
}
#pb3 {
    display: block;
    height: 300px;
    width: 700px;
    margin: 0;
    background: rgba(255, 187, 0, 0.4);
    border-right: 1px solid #1fe41f;
    border-top: 1px solid #1fe41f;
    border-bottom-left-radius: 60px;
    transition-duration: 0.3s;
}
#pb3:hover {
    background: rgba(255, 187, 0, 0.5);
}
#pb3 img {
    display: block;
    height: 120px;
    border: 1px solid #fbff00;
    border-radius: 150px;
    background: linear-gradient(56deg, rgba(255,145,0,1) 0%, rgba(251,255,82,1) 51%, rgba(255,38,0,1) 100%);
    padding: 30px;
    margin: 0 auto;
    transition-duration: 0.3s;
    z-index: 4;
}
#pb3 a {
    text-decoration: none;
    color: #ffd240;
    text-shadow: 3px 3px 3px #414e12;
    padding: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#pb3 h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    transition-duration: 0.3s;
}
#pb3 a:hover img{
    transform: translateY(-4px);
    border: 1px solid #ff6701;
}
#pb3 a:hover h1{
    color: #dfff52;
}
#pb4 {
    display: block;
    height: 300px;
    width: 700px;
    margin: 0;
    background: rgba(86, 99, 86, 0.4);
    border-left: 1px solid #1fe41f;
    border-top: 1px solid #1fe41f;
    border-bottom-right-radius: 60px;
    transition-duration: 0.3s;
}
#pb4:hover {
    background: rgba(86, 99, 86, 0.5);
}
#pb4 img {
    display: block;
    height: 120px;
    border: 1px solid #859182;
    border-radius: 150px;
    background: linear-gradient(56deg, rgba(107,99,89,1) 0%, rgba(255,255,255,1) 50%, rgba(70,70,70,1) 100%);
    padding: 30px;
    margin: 0 auto;
    transition-duration: 0.3s;
    z-index: 4;
}
#pb4 a {
    text-decoration: none;
    color: #cccccc;
    text-shadow: 3px 3px 3px #414e12;
    padding: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#pb4 h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    transition-duration: 0.3s;
}
#pb4 a:hover img{
    transform: translateY(-4px);
    border: 1px solid #ffffff;
}
#pb4 a:hover h1{
    color: #ffffff;
}

#ft {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background: linear-gradient(48deg, rgba(10,87,65,1) 0%, rgba(25,204,27,1) 75%, rgba(41,65,27,1) 100%);
    border-top: 5px solid #2ead49;
    color: #39e65e;
    text-align: center;
    text-shadow: 3px 3px 5px #192e0e;
    box-shadow: inset 0px 0px 5px 5px rgba(0, 100, 0, 1);
    transition-duration: 0.3s;
}
#ft:hover {
    border-top: 5px solid #1e7c33;
    color: #45ce63;
}
#flh {
    display: block;
    margin: 0 auto;
    height: 150px;
    border: 3px solid #1b5c63;
    background: linear-gradient(48deg, rgba(0,78,32,1) 0%, rgba(0,255,2,1) 50%, rgba(0,87,49,1) 100%);
    box-shadow: 0px 0px 5px rgba(0, 100, 0, 1);
    border-radius: 300px;
    padding: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}